{% extends 'base.html' %}
<!--  -->
{% block main %}

<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <h2>お気に入り</h2>
      <form action="{% url 'list' %}" method="GET" class="form-inline my-2 my-lg-0">
    <input type="text" name="name" value="{{ request.GET.name }}" placeholder="検索したい投稿の題名" aria-label="Search" class="form-control mr-sm-2">
    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button>
      </form>

      {% if object_list|length != 0 %}
      <table class="table mb-5 text-right">
        <thead>
          <tr>
            <th scope="col">登録順</th>
            <th scope="col">題名</th>
            <th scope="col">最終更新者</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for bookmark in object_list %}
          <tr>
            <td>No.{{forloop.counter}}</td>
            <td>{{bookmark.item.name}}</td>
            <td>{{bookmark.item.latest_author.username|default:"不明"}}</td>
            <!--
            <td>{{item.quantity}}</td>
            <td>{{item.subtotal}}</td>
            -->
            <td>
              <a
                href="/bookmark/delete/{{bookmark.item.pk}}/"
                class="my-auto btn btn-danger btn-sm"
                >削除</a
              >
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>

      {% else %}
  <p>ブックマークはありません。</p>
      {% endif %}


{% endblock %}
