{% extends 'base.html' %}

{% block main %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 1rem;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'list' %}">STELLA</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if request.user.is_authenticated %}
                    <span class="navbar-text">
                        ようこそ {{ user.get_username }} さん
                    </span>
                    <!--
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <input class="nav-link" type="submit" value="ログアウト">
                        </form>
                    </li>
                    -->
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">ログイン</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    
{% include 'snippets/headline.html' %}

<button class="btn btn-primary" onclick="location.href='{% url 'new' %}'">投稿を新規作成</button><br><br>

<form action="{% url 'list' %}" method="GET" class="form-inline my-2 my-lg-0">
    <input type="text" name="name" value="{{ request.GET.name }}" placeholder="検索したい投稿の題名" aria-label="Search" class="form-control mr-sm-2">
    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button><br><br>
</form>

<a href="?order=created_at" class="btn btn-primary">作成順に表示</a>
<a href="?order=updated_at" class="btn btn-secondary">更新順に表示</a>


<div class="row my-5">
    {% for item in object_list %}
    <div class="col-12 col-lg-3 my-3">
        {% include 'snippets/item_box.html' %}
    </div>
    {% endfor %}
</div>

    {# ページの表示 #}
    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} ページ<br>

    {# 前へ #}
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; 先頭</a>
    <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
    {% endif %}

    {# 次へ #}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">次へ</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">最後 &raquo;</a>
    {% endif %}
</div>
{% endblock %}