{% extends 'base.html' %}
{% load static %}
{% block main %}
<div class="container">
  <div class="row my-5">
    <div class="col-12 col-lg-6">
      <div class="bg-white border overflow-hidden">
        <img src="{% if item.image %}{{item.image.url}}{% else %}{% static 'images/noImage.png' %}{% endif %}" width="100px" alt="商品画像" />
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="border p-3 text-left text-dark overflow-hidden">
        <h2 class="display-5">{{item.name}}</h2>
        <p class="lead">
          <a href="/categories/{{item.category.slug}}/"
            class="badge badge-pill badge-warning">{{item.category.name}}</a>
          {% for tag in item.tags.all %}
          <a href="/tags/{{tag.slug}}/" class="badge badge-pill badge-light">#{{tag}}</a>
          {% endfor %}
        <!--</p>
        <p class="lead">残り{{item.stock}}個
        </p>
        <p class="lead">¥{{item.price}}（税別）</p>-->
        <p class="lead">{{item.description}}</p>

        <button class="btn btn-primary" onclick="location.href='{% url 'edit' pk=item.pk %}'">編集</button>
        


        
        <form action="{% url 'bookmark' item.pk %}" method="post">
          <button type="submit" name="button">お気に入り追加</button>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
  <!--
  <h2>おすすめ</h2>
  <div class="row mb-5">
    {% for item in ADDTIONAL_ITEMS %}
    <div class="col-12 col-lg-3 my-3">
      {% include 'snippets/item_add_box.html' %}
    </div>
    {% endfor %}
  </div>
  -->
</div>
{% endblock %}