{% load static %}



<div class="py-1 bg-dark ">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 text-white" href="/">{{ TITLE }}</a>
    <a class="py-2 d-none d-md-inline-block text-white" href="{% url 'list' %}">投稿一覧</a>
    <a class="py-2 d-none d-md-inline-block text-white" href="/account/">アカウント</a>
    <a class="py-2 d-none d-md-inline-block text-white" href="/cart/">お気に入り
      {% if request.session.cart and request.session.cart.items|length != 0 %}
      <span class="badge badge-danger">{{request.session.cart.items|length}}</span>
      {% endif %}
    </a>
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="py-2 d-none d-md-inline-block text-white" style="background:none; border:none;">ログアウト</button>
    </form>
{% else %}
    <a class="py-2 d-none d-md-inline-block text-white" href="{% url 'login' %}">ログイン</a>
    <a class="py-2 d-none d-md-inline-block text-white" href="{% url 'signup' %}">アカウント作成</a>
{% endif %}

  </nav>
</div>

      <!-- スマホ用メニューボタン -->
  <button id="menu-sp" onclick="document.getElementById('nav-sp').style.display = 'block'">
    <img src="{% static 'images/button-menu.png' %}" alt="ナビゲーションを開く">
  </button>

  

      <!-- スマホ用ナビゲーション -->
<div class="nav-sp">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <button id="close" onclick="document.getElementById('nav-sp').style.display = 'none'">
      <img src="static/images/button-close.png" alt="ナビゲーションを閉じる">
    </button>
 
        <nav>
          <ul>
            <a class="py-2 d-none d-md-inline-block text-white" href="{% url 'list' %}">投稿一覧</a>
            <a class="py-2 d-none d-md-inline-block text-white" href="/account/">アカウント</a>
            <a class="py-2 d-none d-md-inline-block text-white" href="/cart/">お気に入り
              {% if request.session.cart and request.session.cart.items|length != 0 %}
            <span class="badge badge-danger">{{request.session.cart.items|length}}</span>
              {% endif %}
              </a>
              {% if user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}" style="display:inline;">
              {% csrf_token %}
            <button type="submit" class="py-2 d-none d-md-inline-block text-white" style="background:none; border:none;">ログアウト</button>
            </form>
              {% else %}
            <a class="py-2 d-none d-md-inline-block text-white" href="{% url 'login' %}">ログイン</a>
            <a class="py-2 d-none d-md-inline-block text-white" href="{% url 'signup' %}">アカウント作成</a>
              {% endif %}
          </ul>
        </nav>
</div>
